* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 13px;
}

body {
	margin: 10px auto;
}

/* title */
h2.inner_title {
	background-color: #007a51;
	color: #fff;
	line-height: 40px;
	padding-left: 20px;
}

/* 条件筛选部分 */

.top>span {
	color: #333;
	vertical-align: middle;
}

.top>select,
.top>input {
	display: inline-block;
	padding-left: 3px;
	margin: 0 20px 0 5px;
}

.top>select {
	height: 20px;
	font-size: 12px;
	outline: none;
	vertical-align: middle;
	border: 1px solid #009361;
	color: #009361;
	line-height: 20px;
}

.top>input[type='text'] {
	height: 18px;
	width: 110px;
	outline: none;
	color: #009361;
	vertical-align: middle;
	border: 1px solid #009361;
	line-height: 18px;
}

.top>#search {
	width: 62px;
	height: 25px;
	background: #009261;
	color: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: 20px;
}

.top {
	padding: 17px 0;
	padding-left: 15px;
	line-height: 30px;
}

/* 图表 */

#course_fix_wrap,
#course_audit_wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#course_fix_wrap>div,
#course_audit_wrap>div {
	width: 49%;
	display: inline-block;
	margin-bottom: 20px;
	box-shadow: 0 14px 17px -12px rgba(120, 120, 120, .20);
}

.table_wrap {
	height: 500 px;
	overflow: auto;
	width: 100%;
}

#TJ table,
#TJ table {
	width: 100%;
	font-size: 14px;
	background: #FFF;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #EEEEEE;
}

#TJ thead,
#TJ thead {
	color: #FFF;
}

#TJ thead tr th,
#TJ thead tr th {
	height: 30px;
	background: #009361;
	border: 1px solid #EEEEEE;
}

#TJ tbody tr td,
#TJ tbody tr td {
	height: 30px;
	border: 1px solid #EEEEEE;
}

.output {
	float: right;
	text-decoration: none;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #007a51;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

/*时间选择框样式*/

.inlineBlock {
	display: inline-block;
}