@import url('../public/turnPage.css');

*{
	font-family: "Microsoft Yahei UI" ! important;
	padding:0;
	margin:0;
}

ul{
	list-style:none;
}

img{
	border: none;
}

.wrap_center{/*限制宽度*/
	width:1180px;
	margin:auto;
	position:relative;
	height:inherit;
}


#head{
	min-width:1180px;
	height:123px;
	background-color:#f7f7f7;
	color:#000;
	font-size:30px;
}

#body{
	min-height: 860px;
	min-width:1180px;
	background-color: #f7f7f7;
}

#footer{
	height:71px;
	background-color: #007a51;
	text-align: center;
}

a{
	text-decoration:none;
	color:#007a51;
}

/*课程中心标志栏，设置校徽图片的格式，用float设置课程中心标志和课程名称*/
#head #head_photo{
	width:296px;
	height:71px;
	float:left;
	margin-top:28px;

}


#head #head_photo img{
	width:100%;
	height:100%;
}

#head #logo{
	text-decoration: none;
	color:#007a51;
	float:left;
	margin-left: 42px;
	margin-top:50px;
	position: static;
	cursor: pointer;
}

#head p{
	position: absolute;
	right: 0;
	top:50px;
}
#head span{
	float:left;
}

/*搜索框的样式*/
.content_search {
	float: right;
	margin-right: 10px;
	width: 290px;
	font-size: 0;
}

.content_search select {
	float: left;
	font-size: 13px;
	width: 88px;
	height: 25px;
}

.content_search .search {
	float: left;
	position: relative;
	font-size: 13px;
	width: 198px;
}

.content_search .search input {
	float: left;
	padding: 0;
	height: 23px;
}
.content_search .search span {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 25px;
	background: #007a51;
	text-align: center;
	line-height: 25px;
	margin: 0;
	color: white;
	cursor: pointer;
}

#watch_rep {
	background: white;
	padding: 30px 10px;
}
#watch_rep .rep_top >  .top_reply > span {
	font-size: 24px;
	font-weight: 700;
	margin-right: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}
#watch_rep .rep_top > .top_reply span.active {
	border-bottom: 5px solid #009966;
}
#watch_rep .rep_list {
	padding: 20px 10px;
	margin: 20px 0;
}
#watch_rep .rep_list #errorWrap{
	height:400px;
}
#watch_rep .rep_list #errorPic{
	width:150px;
	margin:100px auto 10px auto;
	display: block;
}
#watch_rep .rep_list #errorMsg{
	display: block;
	text-align: center;
}

#watch_rep .rep_list .list_item {
	box-shadow: 3px 3px 3px rgba(242, 242, 242, 1);
	padding: 20px 10px;
	margin-bottom: 15px;
}

#watch_rep .rep_list .list_item .item_main .main_content {
	float: left;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}

#watch_rep .rep_list .list_item .item_main .main_content span {
	margin: 0;
}

#watch_rep .rep_list .list_item .item_main .main_time {
	float: right;
	font-size: 14px;
}
#watch_rep .rep_list .list_item .item_topic {
	font-size: 14px;
}
#watch_rep .rep_list .list_item .item_topic .topic_msg {
	float: left;
}

#watch_rep .rep_list .list_item .item_topic .topic_replay {
	float: right;
	color: #007a51;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*页脚的字体定位样式*/
#footer .copyRight{
	font-size: 16px;
	color: #ffffff;
	height:71px;
	line-height: 71px;
}

/* 右侧浮动栏 */
#infoBar{
	display:none;
	position:fixed;
	right: 0;
	top:50%;
	margin-top: -50px;
	width:50px;
	height: 100px;
	background-color: #fff;
	border:1px solid #f7f7f7;
}
#infoBar ul li{
	float:left;
	width:50px;
	height: 50px;
	box-sizing: border-box;
	font-size: 16px;
	border-bottom:1px solid #f7f7f7;
	padding:5px;
	box-shadow: 0 2px 8px rgba(38,66,56,.2);
}
#infoBar ul li a{
	color:#007a51;
}

/* 补充表格边框 */
.list_item table{
	border-collapse: collapse;
	border-spacing: 0;
	border:1px double #b3b3b3;
	word-break: break-word;
}
.list_item table th,.list_item table td{
	min-width:2em;
	padding:.4em;
	border:1px solid #d9d9d9;
}